.tabla-registro {
    align-items: center;
    height: auto;
    margin-top: 5%;
    padding: 5rem;
    padding-top: 3rem !important;
}

.form-container {
    height: auto;
    width: 150vh;
    margin-top: 5%;
    background-color: #ffffff;
    padding: 5rem;
    padding-top: 3rem !important;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.403);
}