<app-navbar></app-navbar>
<div class="tabla-registro">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Número de placa</th>
                <th scope="col">Vehículo</th>
                <th scope="col">Direcciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>placa 1</td>
                <td>vehículo 1</td>
                <td>dirección 1</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>placa 2</td>
                <td>vehículo 2</td>
                <td>dirección 2</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>placa 3</td>
                <td>vehículo 3</td>
                <td>dirección 3</td>
            </tr>
        </tbody>
    </table>

</div>
<app-footer></app-footer>