.navbar {
  background-color: #3a5e75;
  padding: 0 2rem;
  color: white;
  height: 80px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.icon {
  font-size: 1.5rem;
  color: white;
}

.right-section {
  margin-left: auto; /* Esto empuja esta sección completamente a la derecha */
  height: 100%;
  display: flex;
  align-items: center;
}

.cat-banner {
  height: 100%;
  object-fit: contain;
}
