.navbar {
  background-color: #3a5e75;
  padding: 1rem 2rem;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.icon {
  font-size: 1.5rem;
  color: white;
}

.cat-banner {
  height: 80px;
  object-fit: contain;
}
