<app-navbar></app-navbar>
<div class="deteccion-container">
  <h1>Registro</h1>  
    <main class="cards">
      <div class="card">
        <h3>Placa</h3>
        <div class="placeholder"></div>
      </div>
      <div class="card">
        <h3>Vehículo</h3>
        <div class="placeholder"></div>
      </div>
      <div class="card">
        <h3>Detecciones</h3>
        <div class="placeholder"></div>
      </div>
      <div class="card">
        <h3>Alertas</h3>
        <div class="placeholder"></div>
      </div>
    </main>
  
    <footer class="footer">
      <p>© 2025 Todos los derechos reservados</p>
    </footer>
  </div>
<app-footer></app-footer>
  