<div class="camaras-container">
    <app-navbar></app-navbar>
  
    <div class="header">
      <h2>Control de Cámaras</h2>
      <button class="agregar-btn" (click)="abrirCRUD()">➕ Añadir Cámara</button>
    </div>
  
    <div class="grid-camaras">
      <div class="camara-card" *ngFor="let camara of camaras">
        <div class="camara-video">
          <img [src]="camara.imagen || 'imagen-camara-central.jpeg'" alt="Vista previa" />

        </div>
        <div class="camara-info">
          <h3>{{ camara.nombre }}</h3>
          <p><strong>IP:</strong> {{ camara.ip }}</p>
          <p><strong>Ubicación:</strong> {{ camara.ubicacion }}</p>
          <p><strong>Estado:</strong> <span [class.online]="camara.estado === 'activa'">{{ camara.estado }}</span></p>
          <p><strong>Descripción:</strong> {{ camara.descripcion }}</p>
        </div>
      </div>
    </div>
  
    <app-footer></app-footer>
  </div>
  